/* Patient Profile css starts */
#patientProfilePage{
    padding: 2rem 9%;
    background: var(--yellow);
    /* display: flex; */
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
}

#patientProfile{
    color: var(--green);
    width: 100%; 
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#patientProfileCard {
    margin-top: 5rem;
    border-radius: 8%;
    max-width: 800px; 
    width: 50rem;
    align-items: center; 
    justify-content: center; 
    /* display: flex;
    flex-direction: column;  */
    align-items: center; 
    justify-content: center; 
    margin-left: auto; 
    margin-right: auto;
}

/* .btn{
    margin: auto; 
    width: 50%; 
    text-align: center;
    padding-top: 2rem;
}
#editBtn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: black;
    background: var(--yellow);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 7rem;
    margin-right: .1cm;
}
#editBtn:hover{
    color: white;
    background: var(--green);
    letter-spacing: .1rem;
} */
/* Report css ends */