#reportPage{
    background: var(--yellow);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
}

/* Title css starts */
#patientReport{
    color: var(--green);
    width: 100%; 
    font-size: 2rem;
    padding-top: 5rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Title css ends */

/* Report css starts */
#reportBox {
    margin-top: 2rem;
    background-color: #b3a994;
    border-radius: 5%;
    box-shadow: 0 0 15px rgba(93, 92, 92, 0.6);
    padding: 20px 15px 15px;
    max-width: 800px; 
    width: fit-content;
}

#reportTable {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
    vertical-align: top;
}

.reportLabel {
    font-size: 1rem;
    display: inline-block; 
    width: 100%; 
    text-align: left;
}

#reportTable td {
    font-size: 1rem;
    vertical-align: top; 
    padding-left: 1rem; 
}

#xrayImg {
    width: 30rem;
    height: 25rem;
    padding: 3rem;
}
/* Report css ends */