#reportPage{
    background: var(--yellow);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
}

/* Title css starts */
#patientReport{
    color: var(--green);
    width: 100%; 
    font-size: 3rem;
    padding-top: 10rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Title css ends */

/* Report css starts */
#reportBox {
    margin-top: 5rem;
    background-color: #9f947d;
    border-radius: 8%;
    box-shadow: 0 0 20px rgba(93, 92, 92, 0.6);
    padding: 40px 30px 30px;
    max-width: 800px; 
    width: fit-content;
}

#reportTable {
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5rem;
}

#xrayImg {
    width: 50rem;
    height: 40rem;
    padding: 5rem;
}
/* Report css ends */