venv/
.env
db.sqlite3
.DS_Store
__pycache__
env/
covidVisionX/covid-vision-x.code-workspace
.venv/
**/**/**/migrations/
**/**/migrations/

**/migration/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
