@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

/* Basic css starts */
:root{
    --green:#267b83;
    --yellow:#ecbb50d7;
    --box-shadow:0 .5rem 1.5rem rgb(255, 255, 255);
}
*{
    font-family: 'Joan', serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
body{
    background-color: white;
}
/* Basic css ends */

/* Header part css starts */
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: var(--green);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
#logoImgBox {
    position: relative;
    height: fit-content;
    width: fit-content;
    border-radius: .5rem;
    overflow: hidden;
    display: grid;
    align-items: center;
}
#logoImg {
    width: 12rem; 
    height: 5rem;
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: white;
    margin-right: 10px;
}
header .navbar a.active{
    color:white;
    background: var(--yellow);
}

header .navbar a:hover {
    color:var(--yellow);
}

header .icons i, header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 3rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--green);
    border-radius: 50%;
    background: white;
}
header .icons i:hover, header .icons a:hover{
    color: white;
    background: var(--yellow);
    transform: rotate(360deg);
}
header .icons #menu-bars{
    display: none;
}
/* Header part css ends*/

/* UserAcc css starts */
section{
    padding: 2rem 9%;
    background: white;
    grid-template-columns: 1fr 3fr;
}
section:nth-child(even){
    background: white;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: var(--black);
    background: var(--orange);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}
.btn:hover{
    color: var(--light-color);
    background: var(--orange);
    letter-spacing: .1rem;
}
#userList {
    display: flex; 
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto)); 
    gap: 1.8rem;
    flex-direction: column;

}
.userBox {
    background: rgb(219, 219, 219);
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.user-img-box {
    position: relative;
    height: fit-content;
    width: fit-content;
    border-radius: .5rem;
    overflow: hidden;
}
.userImg{
    width: 15rem; 
    height: 15rem;
    margin: 3rem;
}
.userID, .userName, .role {
    color: black;
    font-size: 2rem;
    width: fit-content;
    margin: 3rem;

}

.viewInfoBtn {
    font-size: 1.7rem;
    color: black;
    background: var(--yellow);
    border-radius: .5rem;
    cursor: pointer;
    margin: 3rem;
    width: 20rem; 
    height: 5rem;
    text-align: center;
    justify-content: space-between;
    display: inline-block;
}

.viewInfoBtn:hover{
    color: white;
    background: var(--green);
    letter-spacing: .1rem;
}
/* User Acc css ends */

/* Media queries starts */
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2rem;
    }
    section{
    padding: 2rem;
    }
}
@media (max-width:768px){
    header .icons #menu-bars{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #2E2E2E;
        border-top: 1rem solid var(--black);
        border-bottom: 1rem solid var(--black);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #2E2E2E;
    }
    #search-form #search-box{
        width: 90%;
        margin: 0 1rem;
    }
}
@media (max-width:991px){
    html{
        font-size: 50%;
    } 
}
/* Media queries ends */