/* Global css starts */
:root {
    /* --green: #267b83; */
    /* --yellow:#ecbb50d7; */
    --green: #1e4b43;
    --yellow:#f7f2ec;
    --brown: #7a644a;
    --box-shadow: 0 .5rem 1.5rem rgb(255, 255, 255);
}

*{
    font-family: 'Open Sans';
    color: #4a4a4a;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .2s linear;
    margin: 0; padding: 0;
    text-decoration: none;
    text-transform: capitalize;
}

body {
    background-color: var(--yellow);
}

/* Global css ends */

/* Login Page css starts*/
#loginSection {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(to bottom, var(--green), white);
}

#img-box {
    padding-bottom: 3rem;
    padding-top: 7rem;
    width: fit-content;
    height: fit-content;
}

#logo_login {
    width: 18rem;
    height: 7rem;
}

#loginForm, #signUpForm {
    background-color: white;
    border-radius: 5%;
    box-shadow: 0 0 20px rgba(93, 92, 92, 0.5);
    padding: 40px 30px 30px;
    font-size: 1rem;
}

.heading {
    text-align: center; 
    margin-bottom: 20px;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

form {
    margin: 0 auto;
    max-width: 400px;
}

.label, select, option, button {
    font-size: 1rem;
}

/* Full-width inputs and drop down list*/
input[type=password],
input[type=text],
select {
    border: 1px solid #ccc;
    display: inline-block;
    margin: 8px 0;
    padding: 12px 20px;
    width: 100%;
    height: 3rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Buttons */
.loginPageBtn {
    background-color: var(--green);
    border-radius: 20px;
    color: white;
    cursor: pointer;
    margin: 8px 0;
    opacity: 0.8;
    padding: 14px 20px;
    width: 100%;
}

/* The "Forgot password" text */
.forget-password {
    float: right;
    font-size: 13px;
}

/* Custom alert */
.custom-alert {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Message */
.message {
    color: #1c7226;
}
/* Login Page css ends*/