{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Report</title>
  <link rel="stylesheet" href="{% static 'doctor/css/master.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <header>
    <div id="logoImgBox">
      <img src="{% static 'images\Picture3-fotor-20240319214142-removebg-preview.png' %}" id="logoImg" alt="Logo"/>
    </div>
	
	<nav class="navbar">
	
  <div class="dropdown">
    <a class="active dropbtn">Patient</a>
    <div class="dropdown-content">
      <a href="/docUploadXRay/">Upload X-ray Image</a>
      <a href="/docReportView/">Report</a>
      <a href="/docNonUpdatedReport/">Non-uploaded Report</a>
    </div>
  </div>
  
  <div class="dropdown">
    <a class="patient dropbtn">Profile</a>
    <div class="dropdown-content">
      <a href="/docProfileView/">View Profile</a>
      <a href="/logout/">Logout</a> <!-- Adjust the href as needed for logout functionality -->
    </div>
  </div>
</nav>

	
    <div class="icons">
      <i class="fas fa-bars" id="menu-bars"></i>
    </div>
  </header>
  


  <section>
  
    <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
  <input type="text" placeholder="Search Patient" name="search2">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
    <table id="reportTable">
      <thead>
        <tr>
          <th>Patient Name</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John Tan</td>
          <td>Normal</td>
        </tr>
        <tr>
          <td>James Loh</td>
          <td>Covid</td>
        </tr>
        <tr>
          <td>Sabrina Tam</td>
          <td>Normal</td>
        </tr>
        <tr>
          <td>Tan Jun Le</td>
          <td>Covid</td>
        </tr>
        <tr>
          <td>Ng Tam Loh</td>
          <td>Normal</td>
        </tr>
        <tr>
          <td>Rachel Lee</td>
          <td>Covid</td>
        </tr>
      </tbody>
    </table>
  </section>

  <!-- Your scripts here -->
</body>
</html>
