{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Upload X-Ray Image</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <!-- Link to your CSS file -->
  <link rel="stylesheet" href= "{% static 'doctor/css/master.css' %}">
</head>
<body>

  
  <header>
    <div id="logoImgBox">
      <img src="{% static 'images\Picture3-fotor-20240319214142-removebg-preview.png' %}" id="logoImg" alt="Logo"/>
    </div>
	
	
	<nav class="navbar">
	
  <div class="dropdown">
    <a class="active dropbtn">Patient</a>
    <div class="dropdown-content">
      <a href="/docUploadXRay/">Upload X-ray Image</a>
      <a href="/docReportView/">Report</a>
      <a href="/docNonUpdatedReport/">Non-uploaded Report</a>
    </div>
  </div>
  
  <div class="dropdown">
    <a class="patient dropbtn">Profile</a>
    <div class="dropdown-content">
      <a href="/docProfileView/">View Profile</a>
      <a href="/logout/">Logout</a> <!-- Adjust the href as needed for logout functionality -->
    </div>
  </div>
</nav>

	
    <div class="icons">
      <i class="fas fa-bars" id="menu-bars"></i>
    </div>
  </header>

  
<!--
  <section>
    <h1 id="uploadTitle">Upload X-Ray Image</h1>
    <div id="uploadContainer">
      <form id="uploadForm" method="post" enctype="multipart/form-data" action="/docXrayResult/{{account_id}}/">
        {% csrf_token %}
        <div id="dropZone">
          <p>Upload your file:</p>
          <i class="fas fa-cloud-upload-alt"></i>
          <span>Upload Patient X-ray Image</span>
          <span>Supports: .jpg, .png, .pdf</span>
           Change hidden to file type for file input 
          <input type="file" name="image" id="fileInput" accept=".jpg,.png,.pdf" required>
          <button type="button" onclick="document.getElementById('fileInput').click()">Browse</button>
        </div>
         Change the input field to accountID 
        <input type="text" id="account_id" name="account_id" placeholder="Enter Account ID" required>

        Change button type to submit 
        <button type="submit" id="analyseBtn">Analyse</button>
        
      </form>
    </div>
</section>

-->

<section>
  <h1 id="uploadTitle">Upload X-Ray Image</h1>
  <div id="uploadContainer">
    <form id="uploadForm" method="post" enctype="multipart/form-data" action="/docXrayResult/">
      {% csrf_token %}
      <div id="dropZone">
        <p>Upload your file:</p>
        <i class="fas fa-cloud-upload-alt"></i>
        <span>Upload Patient X-ray Image</span>
        <span>Supports: .jpg, .png, .pdf</span>
        <!--Change hidden to file type for file input -->
        <input type="file" name="image" id="fileInput" accept=".jpg,.png,.pdf" required>
        <button type="button" onclick="document.getElementById('fileInput').click()">Browse</button>
      </div>
       <!--Change the input field to accountID -->
      <input type="text" id="account_id" name="account_id" placeholder="Enter Account ID" >

      <!--Change button type to submit -->
      <button type="submit" id="analyseBtn">Analyse</button>
      
    </form>
  </div>
</section>


  
  

  <!-- Your scripts here -->
  <script src="{% static 'systemadmin/js/withSearchBar.js' %}"></script>
</body>
</html>
