/* Acc Detail css starts */
#accDetailPage{
    background: var(--yellow);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    overflow-y: auto;
    position: relative;
}

/* Title css starts */
#userAccDetails{
    color: var(--green);
    width: 100%; 
    font-size: 2rem;
    padding-top: 13rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Title css ends */

#profileCardContainer {
    margin-top: 1rem;
    border-radius: 8%;
    max-width: 800px; 
    width: 30rem;
    align-items: center; 
    justify-content: center; 
    align-items: center; 
    justify-content: center; 
    margin-left: auto; 
    margin-right: auto;
}
/* Acc Detail css ends */