/* body {
    background-color: var(--yellow);
} */

/* Title css starts */
#userAcc{
    padding-bottom: 15px;
    font-size: 3rem;
    color: var(--green);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 90px; 
    font-size: 3rem;
    color: var(--green);
    width: 100%; 
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Title css ends */

/* Search and Create user css starts */
.searchCreate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1001;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
}

#createUser{
    margin: 5rem auto; 
    width: 15rem; 
    height: 40px;
    text-align: center; 
    font-size: 1.5rem;
    color: var(--green);
    background: var(--yellow);
    border-radius: .5rem;
    cursor: pointer;
    line-height: 4.2rem;
    margin-left: 1rem;
    box-shadow: 0 0 20px rgba(93, 92, 92, 0.3);

}

#createUser:hover{
    letter-spacing: .1rem;
}

.searchContainer {
    display: flex;
    align-items: center;
}

.searchContainer input[type="text"] {
    width: calc(100% - 40px); 
    padding-right: 40px;
    background-color: #cfc4b0;
}

#searchInput {
    color: var(--yellow);
}

.searchButton {
    background: none;
    border: none;
    padding: 0;
    width: 40px; 
    height: 40px; 
    cursor: pointer;
    background: #9f947d;
    border-radius: .5rem;
    color: var(--yellow);
}

.errorMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: grey;
    font-size: 5rem;
}
/* Search and Create user css starts */

/* User Acc css starts */
#itemTitleBar {
    display: flex;
    align-items: center;
    background-color: rgb(182, 180, 180);
    padding: 5px 0;
    font-weight: bold;
    position: fixed;
    top: 230px; 
    /* margin-right: 11px; */
    width: 100rem;
    z-index: 1000;
    border-radius: 1.5rem;
    font-size: 1.5rem;
}

#titleId {
    margin-left: 19rem; 
    padding: 8px ;
}

#titleName {
    margin-left: 16rem;
    padding: 8px ;
}

#titleRole {
    margin-left: 16rem;
    padding: 8px ;
}

#userListContainer {
    position: fixed;
    top: 290px; 
    width: 100%;
    max-height: calc(100vh - 250px); 
    overflow-y: auto; 
    align-items: center;
    justify-content: center;
}

#userList {
    display: flex; 
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto)); 
    gap: 1.8rem;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; 
}
/* User Acc css ends */