/* User box css starts */
.userBox {
    background: rgb(233, 232, 232);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    width: 57rem;
    height: 5rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    overflow: hidden;
}

.user-img-box {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);    
    padding: 1rem;
    border-radius: .3rem;
}

.userImg{
    width: 3rem; 
    height: 3rem;
    margin: 0;
}

.id, .name, .role, .pid, .pname, .presult {
    position: absolute;
    color: black;
    line-height: 3rem;
    text-align: center;
}

.id {
    left: 10rem; 
}

.name {
    left: calc(43% - 5rem);
}

.role {
    right: 17rem; 
}

.pid {
    left: 11rem; 
}

.pname {
    left: calc(53% - 5rem);
}

.presult {
    right: 9rem;
}

.viewInfoBtn:hover{
    /* color: var(--);
    background: var(--green); */
    letter-spacing: .05rem;
    display: block;
}

.viewInfoBtn {
    position: absolute;
    right: 1rem;
    color: var(--brown);
    background: #9f947d;
    border-radius: .5rem;
    cursor: pointer;
    margin: 3rem;
    width: 10rem; 
    height: 3rem;
    text-align: center;
    line-height: 3rem;
}

.viewInfoBtn a {
    display: block; 
    width: 100%;
    height: 100%; 
}
/* User box css ends */