@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

/* Basic css starts */
:root{
    --green:#267b83;
    --yellow:#ecbb50d7;
    --box-shadow:0 .5rem 1.5rem rgb(255, 255, 255);
}
*{
    font-family: 'Joan', serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
html{
    /* font-size: 62.5%; */
    /* overflow-x: hidden; */
    scroll-padding-top: 3rem;
    scroll-behavior: smooth;
    
}
body{
    /* background-color: white; */
    /* background-image: linear-gradient(to bottom, var(--green), white); */    
}
/* Basic css ends */

/* CreateUserAcc css starts */
#createUser{
    margin: 5rem; 
    width: 20rem; 
    height: fit-content;
    text-align: center; 
    font-size: 2rem;
    color: black;
    background: var(--yellow);
    border-radius: .5rem;
    cursor: pointer;
    line-height: 5rem;
    margin-top: 40rem;
}
#createUser:hover{
    color: white;
    background: var(--green);
    letter-spacing: .1rem;
}

/* UserAcc css starts */
/* section{
    padding: 2rem 9%;
    background: white;
    grid-template-columns: 1fr 3fr;
}
section:nth-child(even){
    background: white;
} */

#userAcc{
    padding-bottom: 15px;
    font-size: 3rem;
    color: var(--green);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 80px; /* Adjust as needed */
    font-size: 3rem;
    color: var(--green);
    z-index: 1000; /* Ensure it's above other content */
    width: 100%; /* Make it span the full width */
    text-align: center;
}


.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: var(--black);
    background: var(--orange);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}
.btn:hover{
    color: var(--light-color);
    background: var(--orange);
    letter-spacing: .1rem;
}
#userList {
    display: flex; 
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto)); 
    gap: 1.8rem;
    flex-direction: column;
    justify-content: center; /* Center align the items */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    padding-bottom: 100px;
}
/* User Acc css ends */

/* Media queries starts */
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2rem;
    }
    section{
    padding: 2rem;
    }
}
@media (max-width:768px){
    header .icons #menu-bars{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #2E2E2E;
        border-top: 1rem solid var(--black);
        border-bottom: 1rem solid var(--black);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #2E2E2E;
    }
    #search-form #search-box{
        width: 90%;
        margin: 0 1rem;
    }
}
@media (max-width:991px){
    html{
        font-size: 50%;
    } 
}
/* Media queries ends */