/* Header css starts */
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: var(--green);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

#logoImgBox {
    position: relative;
    height: fit-content;
    width: fit-content;
    border-radius: .5rem;
    overflow: hidden;
    display: grid;
    align-items: center;
}

#logoImg {
    width: 12rem; 
    height: 5rem;
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: white;
    margin-right: 10px;
}

header .navbar a.active{
    color:white;
    background: var(--yellow);
}

header .navbar a:hover {
    color:var(--yellow);
}

header .icons i, header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 3rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--green);
    border-radius: 50%;
    background: white;
}
header .icons i:hover, header .icons a:hover{
    color: white;
    background: var(--yellow);
    transform: rotate(360deg);
}
header .icons #menu-bars{
    display: none;
}
/* Header css ends*/

/* Media queries starts */
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2rem;
    }
    section{
    padding: 2rem;
    }
}
@media (max-width:768px){
    header .icons #menu-bars{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #2E2E2E;
        border-top: 1rem solid var(--black);
        border-bottom: 1rem solid var(--black);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #2E2E2E;
    }
    #search-form #search-box{
        width: 90%;
        margin: 0 1rem;
    }
}
@media (max-width:991px){
    html{
        font-size: 50%;
    } 
}
/* Media queries ends */