/* Header css starts */
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: var(--green);
    padding: 0.75rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

#logoImgBox {
    position: relative;
    height: fit-content;
    width: fit-content;
    border-radius: .25rem;
    overflow: hidden;
    display: grid;
    align-items: center;
}

#logoImg {
    width: 9rem; 
    height: 3.75rem;
}

header .navbar a{
    font-size: 1rem;
    border-radius: .25rem;
    padding: .5rem 1rem;
    color: var(--yellow);
    margin-right: 8px;
}

header .navbar a.active{
    color:var(--brown);
    background: var(--yellow);
}

header .icons i, header .icons a{
    cursor: pointer;
    margin-left: .25rem;
    height: 3rem;
    line-height: 3rem;
    width: 2rem;
    text-align: center;
    font-size: 1.2rem;
    color: var(--brown);
    border-radius: 50%;
    background: white;
}

header .icons i:hover, header .icons a:hover{
    color: var(--yellow);
    background: var(--brown);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}
/* Header css ends */